<div class="day-mits">
  <div class="page-header">
    <h1>MIT's <small>for {{niceDate}}</small></h1>
  </div>
  {{#each mit in mits}}
  <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">
          {{mit.title}}
          {{#if mit.tagArray.length}}
            {{#each tag in mit.tagArray}}
              <span class='label label-info'>{{tag}}</span>
            {{/each}}
          {{/if}}
        </h3>
      </div>
      {{#if mit.description.length}}
        <div class="panel-body">
          <p>{{mit.description}}</p>
        </div>
      {{/if}}
    </div>
    {{/each}}
</div>
