<div class="day-mits">
  <div class="page-header">
    <h1>MIT's <small>for {{niceDate}}</small></h1>
  </div>
  {{#each mit in mits}}
    <h3>
      {{mit.title}}
      {{#if mit.tagArray.length}}
        {{#each tag in mit.tagArray}}
          <span class='label label-default'>{{tag}}</span>
        {{/each}}
      {{/if}}
    </h3>
    <p>{{mit.description}}</p>
    <hr>
  {{/each}}
</div>
