<div class="col-md-4">
  <div class="team-list">
    <h3>My Invitations</h3>
    <hr>
    <div class="list-group">
      {{#each invitation in controllers.session.currentUser.invitations}}
        {{#if invitation.team.name}}
          {{#link-to 'team' invitation.team classNames='list-group-item'}}{{invitation.team.name}}{{/link-to}}
        {{/if}}
      {{/each}}
    </div>
    <h3>My Teams</h3>
    <hr>
    <div class="list-group">
      {{#each team in controllers.session.currentUser.currentTeams}}
        {{#link-to 'team' team.team classNames='list-group-item'}}{{team.team.name}}{{/link-to}}
      {{/each}}
   </div>
 </div>
</div>
<div class="col-md-8">
  {{outlet}}
</div>

